:root {
    --primary-color: #5fbaa7;
}
*{
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

p {
    text-align: center;
}

.money-img {
    border-block-end-width: 150px;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select {
    padding: 10px 20px 10px 10px;
    border: 1px solid#dedede;
    font-size: 16px;
}

.currency input {
    border: 0;
    background: transparent;
    font-size: 30px;
    text-align: right;
}

.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    margin-left: 110px;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

select:focus, input:focus, button:focus {
    outline: 0;
}

@media(max-width: 600px) {
    .currency input {
        width: 200px;
    }
}